/* Colores */
/* Medidas */
/* Fuentes */
/* Map */
/* Colores */
/* Medidas */
/* Fuentes */
/* Map */
.section1 {
  width: 720px; }

.section2 {
  width: 670px; }

.section3 {
  width: 1440px; }

/* Colores */
/* Medidas */
/* Fuentes */
/* Map */
.fondo-#0c67cf {
  background-color: #0c67cf; }

.fondo-#0c67cf {
  background-color: #0c67cf; }

/* Colores */
/* Medidas */
/* Fuentes */
/* Map */
.twitter {
  background-color: cyan; }

.instagram {
  background-color: orange; }

.facebook {
  background-color: blue; }

.linkedin {
  background-color: skyblue; }

/* Nav Bar */
.logo {
  width: 100px; }

.logo {
  background-image: url(); }

.btn.btn-outline-success {
  color: white;
  border-color: white; }

.btn.btn-outline-success:hover {
  background-color: gray;
  border-color: white; }

.titulo {
  color: #0c67cf;
  font-size: 70px; }

.subTitulo {
  color: black;
  font-size: 35px; }

.tituloCon {
  color: black;
  font-size: 55px; }

.subTituloCon {
  color: #0c67cf;
  font-size: 30px; }

.subTituloConDos {
  color: gray;
  font-size: 18px; }

.tituloServ {
  color: #0c67cf;
  font-size: 55px; }

.subTitServ {
  color: gray; }

.sectionUno {
  padding: 30px; }

.sectionDos {
  padding: 30px; }

.sectionTres {
  padding: 30px; }

/* Formulario Contacto */
.contact {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLCxvhY1Rs9TfZfJAPviRnc5O7YeqCkTTRJvPtHmBwhUUdht6aUoH0rcpCcyOgTQqfEQY&usqp=CAU);
  background-size: 100% 100%;
  height: 100%;
  padding: 100px;
  width: 100%; }

.head {
  background-color: #0f4fc7;
  border-radius: 5px;
  margin-top: -40px;
  -webkit-box-shadow: 10px 10px 5px 0px #1a6eb8;
  -moz-box-shadow: 10px 10px 5px 0px #1a6eb8;
  box-shadow: 10px 10px 5px 0px #1a6eb8; }

/* Seccion Nosotros */
.nosotros .titulo__nosotros {
  color: #0c67cf;
  text-align: center; }

.nosotros .descripcion__nosotros {
  color: black;
  font-family: sans-serif; }

.nosotros .imagen__nosotros {
  display: block;
  margin: auto;
  width: 500px;
  height: auto; }

.titulo__nosotros2 {
  color: #0c67cf; }

.descripcion__nosotros2 {
  color: black;
  font-family: sans-serif;
  font-size: 20px; }

.descripcionNosotros3 {
  font-size: 30px; }

.descripcionNosotros4 {
  font-size: 20px;
  color: black; }

/* Seccion Portfolio */
.titulo__portfolio1 {
  color: #0c67cf; }

.descripcion__portfolio {
  color: black;
  font-family: sans-serif; }

.imagen__portfolio {
  display: block;
  margin: auto;
  width: 500px;
  height: auto; }

.titulo__portfolio2 {
  color: #0c67cf; }

.descripcion__portfolio2 {
  color: black;
  font-family: sans-serif; }

.imagen__portfolio2 {
  display: block;
  margin: auto;
  width: 500px;
  height: auto; }
