/* Colores */

$colorPrincipal:rgb(12, 103, 207);
$colorSecundario:black;
$colorTerciario: gray;


/* Medidas */
$medidaBasica: 1rem;
$medidaBasicaCaja: 720px;
/* Fuentes */

$fuentePrincipal:'Andada Pro';
$fuenteSecundaria:'Sans Serif';

/* Map */

$rrss:(
    twitter: cyan,
    instagram: orange,
    facebook: blue,
    linkedin: skyblue,

)